<section id="recommended" class="recommended">
  <h2 class="visually-hidden">Рекомендуемый контент</h2>
  <div class="top-channels__content container">
    <div>
      <h3 class="section__title">Recommended Channels</h3>
      <ul class="recommended__list-top-channels" aria-label="Рекомендуемый контент">
        <li>
          <a href="#">
            <img src="/assets/images/raster/channel-1.png" width="260" height="260" alt="Movie 1"/>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/images/raster/channel-2.png" width="260" height="260" alt="Movie 2"/>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/images/raster/channel-3.png" width="260" height="260" alt="Movie 3"/>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/images/raster/channel-4.png" width="260" height="260" alt="Movie 4"/>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/images/raster/channel-5.png" width="260" height="260" alt="Movie 5"/>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/images/raster/channel-6.png" width="260" height="260" alt="Movie 6"/>
          </a>
        </li>
      </ul>
      <button class="recommended__button" type="button">Ad banner</button>
    </div>

    <div>
      <h3 class="section__title">New Channels</h3>
      <ul class="recommended__list-top-channels" aria-label="Рекомендуемый контент">
        <li>
          <a href="#">
            <img src="/assets/images/raster/channel-3.png" width="260" height="260" alt="Movie 1"/>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/images/raster/channel-7.png" width="260" height="260" alt="Movie 2"/>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/images/raster/channel-2.png" width="260" height="260" alt="Movie 3"/>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/images/raster/channel-8.png" width="260" height="260" alt="Movie 4"/>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/images/raster/channel-6.png" width="260" height="260" alt="Movie 5"/>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/images/raster/channel-9.png" width="260" height="260" alt="Movie 6"/>
          </a>
        </li>
      </ul>
      <button class="recommended__button" type="button">Ad banner</button>
    </div>
  </div>
</section>
