@use '../../../../styles/variables' as variables;
@use '../../../../styles/functions' as *;

.header {
  position: fixed;
  background-color: variables.$header-background;
  padding: rem(20px) 0 rem(21px);
  z-index: 1000;
  width: 100%;

  &__content {
    position: relative;
    display: flex;
    align-items: center;

    @media (width <= 1050px) {
      justify-content: space-between;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
  }

  &__list {
    &-nav {
      display: flex;
      gap: rem(96px);

      @media (width <= 1675px) {
        gap: rem(43px);
      }

      @media (width <= 1050px) {
        flex-direction: column;
        align-items: center;
      }

      @media (width <= 480px) {
        align-items: flex-start;
      }
    }
  }

  &__link, &__button {
    display: block;
    text-decoration: none;
    color: variables.$text-main-color;
    font-size: rem(24px);
    font-weight: 500;
    line-height: rem(29px);
    letter-spacing: 0%;
    text-align: center;

    &--nav, &--action, &.header__button {
      padding: 10px 34px;
      border-radius: rem(60px);
      transition: background-color 0.5s ease;

      &:hover {
        background-color: variables.$link-bg-hover-color;
      }

      &:active {
        background-color: variables.$link-bg-active-color;
      }
    }

    &-logo {
      margin-right: rem(56px);

      img {
        display: block;
      }
    }

    &--action {
      display: flex;
      align-items: center;
      gap: 10px;

      &::before {
        content: '';
        display: block;
        width: rem(24px);
        height: rem(24px);
        background-image: url("/assets/images/vector/profile-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }

    @media (width <= 1460px) {
      font-size: rem(20px);
      line-height: rem(24px);
    }
  }

  &__button {
    &-nav {
      padding: 0;
      border: none;
      background: transparent;
      cursor: pointer;
    }
  }

  &__wrapper {
    &-search {
      position: relative;
      max-width: 334px;
      width: 100%;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        display: block;
        width: rem(24px);
        height: rem(24px);
        background-image: url("/assets/images/vector/search-icon.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      @media (width <= 1350px) {
        display: none;
      }

      @media (width <= 1050px) {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
      }

      @media (width <= 480px) {
        left: rem(20px);
        transform: translateX(0);
        width: 320px;
      }
    }

    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      transition: transform 0.3s ease;
      z-index: 1000;

      @media (width <= 1050px) {
        position: absolute;
        top: 71px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: variables.$overlay-bg-main;
        opacity: 0.9;
        transform: translateX(150%);
        flex-direction: column;
        justify-content: normal;
        gap: rem(50px);
        padding-top: 100px;
      }

      @media (width <= 480px) {
        align-items: flex-start;
      }

      &.open {
        position: fixed;
        width: 100%;
        transform: translateX(0);
      }
    }

    &-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 19px;
    }
  }

  &__input {
    &-search {
      color: variables.$input-search-color;
      font-family: variables.$font-family-primary;
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0%;
      text-align: left;
      width: 100%;
      padding: rem(16px) rem(20px) rem(16px) rem(52px);
      border: none;
      border-radius: 8px;
      background-color: variables.$bg-dark;

      @media (width <= 1465px) {
        font-size: rem(20px);
        line-height: rem(24px);
      }

      @media (width <= 1050px) {
        background-color: variables.$input-search-bg-accent;
      }
    }
  }

  &__burger {
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    padding: 0;
    min-width: 39px;
    height: 51px;
    font-family: variables.$font-family-primary;
    color: variables.$burger-text-main;
    cursor: pointer;
    transition: color 0.3s ease;

    &::before, &::after {
      content: '';
    }

    &-line, &::before, &::after {
      display: block;
      width: 100%;
      height: 5px;
      border-radius: rem(6px);
      background-color: variables.$burger-bg-main;
      transition: background-color 0.3s ease, width 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
    }

    &-line {
      width: 27px;
      align-self: flex-end;
      opacity: 1;
    }

    &-text {
      order: 4;
      font-size: rem(15px);
      line-height: rem(17px);

      &.open {
        display: none;
      }
    }

    &::after {
      width: 19px;
      align-self: flex-end;
    }

    &:hover {
      &::after, span.header__burger-line {
        width: 100%;
      }
    }

    &:active {
      color: variables.$burger-text-active;

      &::after, &::before, span.header__burger-line {
        background-color: variables.$burger-bg-active;
      }
    }

    @media (width <= 1050px) {
      display: flex;
    }

    &.open {
      .header__burger-line {
        opacity: 0;
        transition: opacity 0s ease;
      }

      &::before, &::after {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        width: 100%;
        transform: rotate(-45deg);
      }
    }
  }

  @media (width <= 1050px) {
    padding: rem(10px);
  }
}
