<header id="header" class="header">
  <div class="header__content container">
    <a class="header__link-logo" [routerLink]="[AppRoute.MAIN]" aria-label="Вернуться на главную">
      <img class="header-image-logo" src="/assets/images/vector/logo-color.svg" width="96" height="51"
           alt="Логотип on air"/>
    </a>
    <div
      id="header-nav-menu"
      [ngClass]="{
    'header__wrapper-content': true,
    'open': isNavMenuOpen(),
    }">
      <nav class="header__nav" aria-label="Основная навигация">
        <ul class="header__list-nav">
          <li>
            <a class="header__link header__link--nav" href="#">Movies</a>
          </li>
          <li>
            <a class="header__link header__link--nav" href="#">Series</a>
          </li>
          <li>
            <a class="header__link header__link--nav" href="#">Channels</a>
          </li>
          <li>
            <button class="header__button header__button-nav" type="button">Music</button>
          </li>
        </ul>
      </nav>
      <div class="header__wrapper-actions">
        <label for="header-search" class="visually-hidden">Поиск</label>
        <div class="header__wrapper-search">
          <input id="header-search" class="header__input-search" type="search" placeholder="Search"/>
        </div>
        <a class="header__link header__link--action" href="#">
          Profile
        </a>
      </div>
    </div>
    <button
      (click)="toggleNavMenu()"
      [ngClass]="{
    'header__burger': true,
    'open': isNavMenuOpen()
    }" type="button"
      aria-haspopup="true"
      [attr.aria-expanded]="isNavMenuOpen()"
      aria-controls="header-nav-menu"
    >
      <span class="header__burger-line"></span>
      <span
        [ngClass]="{
      'header__burger-text': true,
      'open': isNavMenuOpen()
      }">Menu</span>
    </button>
  </div>
</header>
