@use '../../../../styles/variables' as variables;
@use '../../../../styles/functions' as *;

.footer {
  color: variables.$text-accent-color;
  padding: rem(70px) 0 rem(32px);

  &__logo {
    display: block;
    width: max-content;
    margin-bottom: 95px;

    &-image {
      display: block;
      width: 100%;
      height: auto;

      @media (width <= 780px) {
        width: 170px;
        height: 91px;
      }
    }
  }

  &__wrapper {
    &-logo {
      display: block;
    }
  }

  &__text {
    max-width: 280px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    margin-bottom: 32px;

    a {
      display: block;

      img {
        display: block;
      }
    }

    &--stores {
      gap: 20px;

      a {
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }

        &:active {
          transform: scale(1);
        }
      }
    }

    &--socials {

      a {
        --icon-stroke: rgb(54, 54, 54);
        --icon-fill: rgb(255, 255, 255);

        transition:  --icon-stroke 3s ease, --icon-fill 3s ease;

       &:hover {
         --icon-stroke: rgb(85 172 227);
         --icon-fill: rgb(85 172 227);
       }
      }
    }
  }
}
