<footer id="footer" class="footer">
  <div class="footer__content container">
    <a class="footer__logo" [routerLink]="AppRoute.MAIN">
      <picture class="footer__wrapper-logo">
        <source srcset="/assets/images/vector/logo-white-mobile.svg" media="(max-width: 780px)">
        <img class="footer__logo-image" src="/assets/images/vector/logo-white-desktop.svg" width="96" height="51"
             alt="Логотип кинотеатра" />
      </picture>
    </a>
    <p class="footer__text">
      Hot Africa, we offer original, exclusive and premium stories.
      Everything you want to watch, anytime, anywhere and as much.
    </p>
    <ul class="footer__list footer__list--stores">
      <li>
        <a href="#">
          <img src="/assets/images/vector/appstore-icon.svg" width="130" height="38" alt="Скачать AppStore" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/assets/images/vector/googleplay-icon.svg" width="130" height="38" alt="Скачать GooglePlay" />
        </a>
      </li>
    </ul>
    <ul class="footer__list footer__list--socials">
      <li>
        <a href="#">
          <svg width="40" height="40">
            <use href="/assets/images/vector/instagramm.svg#instagramm"/>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
