<div class="home-page">
  <app-header/>
  <main>
    <section class="home-page__hero">
      <div class="home-page__hero-content container">
        <app-swiper [swiperOptions]="MAIN_HERO_SWIPER_CONFIG">
          <div class="swiper-slide">
            <picture class="home-page__wrapper-image">
              <source srcset="/assets/images/raster/hero-slide-1-mobile.jpg" media="(max-width: 865px)">
              <img src="/assets/images/raster/hero-slide-1-desktop.jpg" width="1923" height="930"/>
            </picture>
          </div>
          <div class="swiper-slide"><img src="/assets/images/raster/hero-slide-2.jpg"/></div>
          <div class="swiper-slide"><img src="/assets/images/raster/hero-slide-3.jpg"/></div>
        </app-swiper>
        <div class="home-page__swiper-controls container">
          <div class="home-page__swiper-button-previous"></div>
          <div class="home-page__swiper-pagination"></div>
          <div class="home-page__swiper-button-next"></div>
        </div>
      </div>
    </section>
  </main>
</div>


