@use './styles/fonts';
@use './styles/functions' as *;
@use './styles/variables' as variables;
@use 'swiper/css';
@use "swiper/css/navigation";
@use "swiper/css/pagination";

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: variables.$font-family-primary;
  letter-spacing: 0%;
  margin: 0;
}

.container {
  max-width: 1920px;
  width: 100%;
  padding: 0 rem(58px);
  margin: 0 auto;

  @media (width <= 1350px) {
    padding: 0 rem(30px);
  }

  @media (width <= 768px) {
    padding: 0 rem(20px);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}

.home-page__swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: max-content;
}

.home-page__swiper-pagination .swiper-pagination-bullet {
  width: 46px;
  height: 4px;
  background-color: variables.$swiper-bullet-bg-main;
  border-radius: 0;
  opacity: 1;

  @media (width <= 865px) {
    width: 25px;
    height: 2px;
  }
}

.home-page__swiper-pagination .swiper-pagination-bullet-active {
  background-color: variables.$swiper-bullet-bg-active;
}

.home-page__swiper-button-previous, .home-page__swiper-button-next {
  width: 52px;
  height: 52px;
  background-color: variables.$swiper-nav-bg-main;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: variables.$swiper-nav-bg-hover;
  }

  &:active {
    background-color: variables.$swiper-nav-bg-active;
  }

  @media (width <= 865px) {
    width: 29px;
    height: 29px;
  }

}

.home-page__swiper-button-next {
  mask-image: url("/assets/images/vector/swiper-nav-next-desktop.svg");

  @media (width <= 865px) {
    mask-image: url("/assets/images/vector/swiper-nav-next-mobile.svg");
  }

}

.home-page__swiper-button-previous {
  mask-image: url("/assets/images/vector/swiper-nav-prev-desktop.svg");

  @media (width <= 865px) {
    mask-image: url("/assets/images/vector/swiper-nav-prev-mobile.svg");
  }
}

.section {
  &__title {
    color: variables.$text-main-color;
    font-size: rem(32px);
    font-weight: 400;
    line-height: rem(37px);
    text-align: left;
    margin-bottom: 20px;

    @media (width <= 680px) {
      font-size: rem(20px);
      line-height: rem(22px);
    }

    @media (width <= 480px) {
      font-size: rem(16px);
      line-height: rem(18px);
    }
  }
}
